@charset "UTF-8";

/* --------------------------------
 * 共通部分
 * -------------------------------- */
 html {
   font-size: 62.5%;
   font-size: 100%;
   box-sizing: border-box;
 }
 body {
   line-height: 1.4;
 }
*, *::before, *::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
image {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.section-title,
.main-nav a {
  /* font-family: 'Raleway', sans-serif; */
  font-family:  sans-serif;
}

.section-title {
  font-size: 3.2rem;
  padding-top: 20px;
  text-align: center;
  letter-spacing: .2rem;
  margin-bottom: 20px;
}

// 変数
$main-color: #ffe556;
$sub-color: #adcc33;
$baloon-color: #e6f0f0;
$header-height: 70px;

// 各セクションのカラーや幅など
@mixin whole($backgroundColor, $sectionTitleColor, $section-height) {
    background-color: $backgroundColor;
    height: $section-height;
  & .section-title {
    color: $sectionTitleColor;
    margin-top: 30px;
  }
}

.se-slope:nth-child(odd) {
  @include whole($main-color, #fff, 650px);
}

.se-slope:nth-child(even) {
  @include whole(#fff, $main-color, 700px);
}

// 各セクションの背景を斜めにする
.se-container{
    display: block;
    width: 100%;
    // overflow: hidden;
    padding-top: 150px;
    opacity: 1;
    position: relative;
    z-index: 1;
}
.se-slope {
  // overflow: hidden;
  margin: 0 -50px;
  transform-origin: left center;
}
#about,
#skills {
  margin-top: -300px;
  transform: rotate(5deg);
  & > .wrapper {
    transform: rotate(-5deg);
  }
}
#portfolio,
#contact {
  margin-top: -50px;
  transform: rotate(-5deg);
  & > .wrapper {
    transform: rotate(5deg);
  }
}
// Intersection Observer API用
.observed > .wrapper {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.4s, transform 1.4s;
}
.observed > .wrapper.appear {
  opacity: 1;
  transform: translateY(0);
}
/* --------------------------------
 * HEADER
 * -------------------------------- */

 .header {
   background-color: $sub-color;
   width: 100%;
   height: 70px;
   position: sticky;
   top: 0;
   z-index: 10;
   nav {
     margin: 0;
     height: 100%;
     .main-nav {
       font-size: 1rem;
       text-align: center;
       height: 100%;
       li {
         display: inline-block;
         vertical-align:top;
         height: 100%;
         a {
           height: 100%;
           display: block;
           width: 120px;
           color: white;
           position: relative;
           &:hover {
             background-color: #bddc43;
           }
           p {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
           }
         }
       }
     }
   }
 }
/* --------------------------------
 * HOME
 * -------------------------------- */

#home {
  background: url(images/home_lemon.jpg) no-repeat center top/cover;
  display: flex;
  justify-content: center;
  position: relative;
  // height: calc(100vh - 70px);
  height: calc(100vh + 100px);

  top: 0;
  left: 0;
  z-index: 0;
}

.home-title {
  /* font-family: 'Lobster', cursive; */
  font-family: 'Lemon', cursive;
  font-size: calc(12.8vh - 9px);
  line-height: 1;
  color: $main-color;
  position: absolute;
  left: 40px;
  top: calc(100vh - 38.4vh + 27px - 70px - 20px);
}

/* --------------------------------
 * ABOUT
 * -------------------------------- */
.about-content {
  display: flex;
}
.about-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.about-text {

}
/* --------------------------------
 * PORTFOLIO
 * -------------------------------- */

.portfolio-contents {
  width: 728px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.portfolio-main {
  img {
    width: 728px;
    height: 450px;
    vertical-align: top;
  }
}
.portfolio-contents {
  nav {
    width: 728px;
    position: absolute;
    top: 225px;
    transform: translateY(-50%);
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
      li {
        display: inline;
        font-size: 5rem;
        color: #fff;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
ul > #prev {
  margin-right: 300px;
}
ul > #next {
  margin-left: 300px;
}
.thumbnails {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    opacity: 0.4;
    height: 100px;
    margin: 0;
    &:hover,
    &.current {
      opacity: 1;
      cursor: pointer;
    }
    img {
      width: 150px;
      height: 100px;
    }
  }
}

.baloon {
  position: relative;
  margin: -173px auto 0 auto;
  width: 728px;
  height: 173px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  position: relative;
  padding: 4px;
  color: #fff;
  font-size: 1rem;
  & > span {
    position:absolute;
    bottom: 0;
  }
}
/* --------------------------------
* SKILLS
* -------------------------------- */

 .skills-circles,
 .skills-contents {
   display: flex;
   flex-direction: row;
   justify-content: center;
   mix-blend-mode: multiply;
 }
 .circle,
 .circle-content {
   padding: 5%;
   height: 250px;
   width: 250px;
   margin: 0 -10px;
 }
 .circle {
   border-radius: 60% 5% 60% 5%;
   // mix-blend-mode: multiply;
   background: rgba(255, 205, 29, 0.6);
   transition: transform 1s;
 }
 .skills-circles {
   margin-top: -250px;
 }
 .circle-content {
  display: flex;
  align-items: center;
  justify-content: center
  &-text {
     margin: 0;
   }
 }
 .circle:hover {
   transform: scale(1.25, 1.25) rotate(15deg);
   // .circle-content {
   //   transform: scale(0.8, 0.8) rotate(-15deg);
   // }
 }

/* --------------------------------
* CONTACT
* -------------------------------- */
#contact {
  background: url(images/contact_lemon.jpg) no-repeat center top/cover;
  min-height: calc(100vh - #{$header-height});
}

form div {
  margin-bottom: 28px;
}
label {
  margin-bottom: 3px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgb(255, 255, 255);
  opacity: 0.7;
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.6rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}
.button {
    font-size: 1.375rem;
    background: $main-color;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
    &:hover {
      background: darken($main-color, 20%);
    }
}

/* --------------------------------
* footer
* -------------------------------- */
footer {
  background: $sub-color;
  height: 9vw;
  margin-top: -9vw;
  position: relative;
}
footer p {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
